<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  name: 'Login',
  computed: {
    ...mapGetters('account', ['isAuthenticated', 'connecting'])
  },
  methods: {
    ...mapActions('account', ['connect'])
  },
  watch: {
    isAuthenticated: {
      immediate: true,
      handler: function (val) {
        if (val && this.$route.query.returnUrl) {
          this.$router.push({ path: this.$route.query.returnUrl })
        }
      }
    }
  }
}
</script>

<template>
  <div>
    <q-page class="q-pa-lg flex flex-center">
      <div class="row q-col-gutter-lg full-width justify-center">
        <div class="col-lg-4 col-md-6 col-xs-12">
          <q-card class="text-right">
            <q-card-actions vertical>
              <q-btn
                color="primary"
                @click="() => connect('scatter')"
              >
                <q-avatar
                  size="30px"
                >
                  <img src="statics/providers/scatter.svg" />
                </q-avatar>
                <div class="q-mt-xs q-ml-md">
                  Login with scatter
                </div>
              </q-btn>
            </q-card-actions>
          </q-card>
        </div>
      </div>
    </q-page>
    <q-inner-loading :showing="connecting">
      <q-spinner size="3em" />
    </q-inner-loading>
  </div>
</template>

<style lang="stylus">

</style>
