<script>
import { mapActions } from 'vuex'

export default {
  name: 'Transfer',
  data () {
    return {
      form: {
        quantity: 0,
        to: null,
        memo: null
      },
      submitting: false
    }
  },
  methods: {
    ...mapActions('transfer', ['sendTokens']),
    async onSubmit () {
      this.submitting = true
      const result = await this.sendTokens({
        ...this.form
      })
      console.log(result) // Display the result/error of the
      this.submitting = false
    }
  }
}
</script>

<template>
<q-page class="q-pa-lg flex flex-center">
  <div class="row full-width justify-center">
    <q-card class="col-6 q-pa-lg">
      <q-card-section>
        <span class="text-h6">
          Transfer tokens
        </span>
      </q-card-section>
      <q-card-section>
        <q-input
          v-model="form.quantity"
          label="Quantity"
        />
        <q-input
          v-model="form.to"
          label="To"
        />
        <q-input
          v-model="form.memo"
          label="Memo"
        />
      </q-card-section>
      <q-card-actions>
        <q-btn
          color="primary"
          :loading="submitting"
          label="Send"
          @click="onSubmit"
        />
      </q-card-actions>
    </q-card>
  </div>
</q-page>
</template>

<style lang="stylus">

</style>
