<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>
          Quasar Transit Template
        </q-toolbar-title>
        <q-btn
          v-if="isAuthenticated"
          flat
          dense
          @click="logout"
          label="Logout"
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MyLayout',
  methods: {
    ...mapActions('account', ['logout'])
  },
  computed: {
    ...mapGetters('account', ['isAuthenticated'])
  }
}
</script>

<style>
</style>
